langchain
langchain_community
langchain_cohere
langchain_chroma
chroma
chromadb==0.4.17
bookworm
pysqlite3-binary
streamlit
google-generativeai
vertexai
torch==2.3.0
transformers==4.46.3
tensorflow
