langchain
langchain_community
langchain_cohere
langchain_chroma
chroma
chromadb==0.5.18
bookworm
pysqlite3-binary
streamlit
google-generativeai
google-cloud
google-auth
vertexai
tensorflow
torch==2.5.1
transformers==4.46.3
google-api-python-client==2.25.0
google-auth==2.14.1
google-cloud-aiplatform==1.71.1
pypdf
